/* To fix the issue with systems resize on the notification in message_space block */
.task {
    width: 98%;
}

.sidebar {
    float: left;
    width: 72px;
}

.image-to-be-labeled {
    padding-left: 16px;
    margin-left: 72px;
}

.history-table {
    border: 0;
    height: 200px;
}

.history-icon-td {
    width: 48px;
}

.history-text-td {
    vertical-align: middle;
    text-align: left;
    margin-left: 16px;
}

.history-table-body {
    overflow-y: auto;
    height: 200px;
    position: absolute;
}

.history-table-row {
    width: 100%;
    display: inline-table;
}

/* Additional margin to add some space between input groups and drop down menus */
.dropdown-menu-parameters {
    margin-top: 14px;
}

#canvas-parent {
    position: static;
    width: 100%;
    overflow: auto;
    min-height: 550px;
    padding: 0;
}

#minimap_img {
    width: 100%;
    z-index: 1;
}

#minimap{
    position: relative;
}

#minimap-canvas-div {
    cursor: move;
    z-index: 20;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

div.resizable {
    position: relative;
}

canvas, svg {
    position: absolute;
}

/*SVG*/
circle {
    stroke-width: 5;
}

circle.first {
    stroke: #666600;
    fill: #cccc00;

}

circle.first:hover {
    stroke: #aaaa00;
}

circle.other {
    stroke: #006600;
    fill: #00cc00;
}

circle.normal {
    stroke: #666666;
    fill: #000000;
}

circle.selected {
    stroke: #aaaaaa;
    fill: #000000;
}

circle.selected:hover {
    stroke: #ffffff;
    cursor: move;
}

path {
    fill: none;
    stroke: black;
}

polygon.normal {
    fill: #000000;
    fill-opacity: 0.8;
}

polygon.normal:hover {
    fill-opacity: 0.4;
}

polygon.selected {
    fill: #003300;
    fill-opacity: 0.3;
}

#language-selection-sidebar {
    padding-top: 16px;
}