.sidebar {
    float: left;
    width: 72px;
}

.image-to-be-labeled {
    padding-left: 16px;
    margin-left: 72px;
}

.history-table {
    border: 0;
}

.history-icon-td {
    width: 48px;
}

.history-text-td {
    vertical-align: middle;
    text-align: left;
    margin-left: 16px;
}

/* Additional margin to add some space between input groups and drop down menus */
.dropdown-menu-parameters {
    margin-top: 14px;
}

#main-canvas {
    display: flex;
    margin: 0 auto;
    float: left;
}

#canvas-parent {
    overflow: scroll;
    height: 550px;
    padding: 0;
}

#svg_img {

}


/*SVG*/
circle {
  stroke-width: 5;
}

circle.first {
  stroke: #666600;
  fill:   #cccc00;

}

circle.first:hover {
  stroke: #aaaa00;
}

circle.other {
  stroke: #006600;
  fill:   #00cc00;
}

circle.normal {
  stroke: #666666;
  fill:   #000000;
}

circle.selected {
  stroke: #aaaaaa;
  fill:   #000000;
}

circle.selected:hover {
  stroke: #ffffff;
}

path {
  fill: none;
  stroke: black;
}

polygon.normal {
  fill: #000000;
  fill-opacity: 0.8;
}

polygon.normal:hover {
  fill-opacity: 0.4;
}

polygon.selected {
  fill: #003300;
  fill-opacity: 0.3;
}
