* {
  box-sizing: border-box;
}
.parent > div {
  padding:20px;
}
.parent {
    overflow: hidden;
    position: relative;
    width: 100%;
    color:red;
    background-color:pink;
    min-height:500px;
}

.child-left {
   width: 64px;
}

.child-center {
    background:yellow;
    height: 100%;
    position: absolute;
    color:blue;
    top: 0;
    right: 100px;
    left: 64px;
}

.child-right-top {
    background:green;
    height: 50%;
    position: absolute;
    color:yellow;
    top: 0;
    right: 0;
    width: 100px;
}

.child-right-bottom {
    background:blue;
    height: 50%;
    position: absolute;
    color:yellow;
    top: 50%;
    right: 0;
    width: 100px;
}
